@require "include"
@require "reset"

html
  background-color $cl-light

body
  color $cl-dark

hr
  margin 2rem 0

button
  &:disabled
    color $cl-gray

.material-icons
  display inline-flex
  align-items center
  font-size 1em
