@require "include"
@require "reset"

html
  background-color $cl-light

body
  color $cl-dark

h1, h2, h3, h4, h5, h6
  font-size 1.5em
  margin-bottom 1.5rem
  font-weight bold

hr
  margin 2rem 0

button
  &:disabled
    color $cl-gray

.material-icons
  display inline-flex
  align-items center
  font-size 1em

._alignright
  text-align right