@require "include"

html {
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Mada', Meiryo, 'Hiragino Kaku Gothic ProN', sans-serif;
  font-smoothing: antialiased;
}

a {
  color: inherit;
}

ul, ol {
  list-style: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}

hr {
  border: none;
  border-bottom: 1px solid lightgray;
}

button {
  background: none;
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.2em;
  appearance: none;

  text-align: center;
  cursor: pointer;
  color: inherit;

  &:active,
  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: default;
  }
}

input[type="text"],
textarea,
select {
  padding: 0.4rem 0.5rem;
  font-size: 1rem;
  text-align: left;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 0;
  appearance: none;

  &:focus {
    outline: none;
  }
}

img {
  width: 100%;
  vertical-align: bottom;
}